{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#layout {
  width: 100%;
  height: 100vh;
}

#header {
  height: 10%;
  display: flex;
}

.header-left {
  width: 20%;
  background: #5b77a5;
  border: 2px solid white;
}

.header-right {
  width: 80%;
  background: #3f5f8c;
  border: 2px solid white;
}

#nav {
  height: 10%;
  display: flex;
}

#nav div {
  width: 25%;
  background: #4fb6a3;
  border: 2px solid white;
}

#main {
  height: 60%;
  display: flex;
}

#aside {
  width: 25%;
  background: #6faa5f;
  border: 2px solid white;
}

#content {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#content-top {
  height: 40%;
  background: #f1b86c;
  border: 2px solid white;
}

#content-bottom {
  height: 60%;
  display: flex;
}

#content-bottom div {
  width: 50%;
  background: #6c95c9;
  border: 2px solid white;
}
#footer {
  height: 20%;
  display: flex;
}

#footer div {
  background: #9aa4b5;
  border: 2px solid white;
}

#footer div:nth-child(1) { width: 50%; }
#footer div:nth-child(2) { width: 25%; }
#footer div:nth-child(3) { width: 25%; }
